@font-face {
    font-family: Proxima;
    src: url("./proxima.ttf") format("ttf"), url("./proxima.ttf")  format("truetype");
}

a {
  font-family: proxima
}

.don {

  margin-top: 100px;

  font-family: proxima;

}

.don button {

  background: #335AFF

}

.don button:active {

 background: #2A303E;

}

.don button:focus {

 background: #2A303E;

}

